.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    padding: 24px;
    color: #404f65;
}

.logo {
    margin-bottom: 0px;
    animation: fadeIn 1s ease-in-out;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #404f65;
    text-align: center;
    font-size: 1.8rem;
}

.form {
    width: 59%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 5px 5px;
    font-size: 0.95rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.input::placeholder {
    color: #6b6b6b;
    text-align: center;
}

.input:focus {
    outline: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.registerButton {
    background-color: #505c75;
    color: white;
    text-transform: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 0;
    transition: all 0.3s ease;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.registerButton:hover {
    background-color: #404f65;
}

.successMessage {
    margin-top: 16px;
    color: green;
    text-align: center;
}

.errorMessage {
    margin-top: 16px;
    color: red;
    text-align: center;
}

.loginText {
    margin-top: 16px;
    color: #6b6b6b;
    text-align: center;
}

.loginLink {
    color: #505c75;
    font-weight: bold;
    text-decoration: none;
}

.loginLink:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
